.git
.github
.gitattributes
.gitignore
.editorconfig
.dist

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
!storage/framework/**/.gitignore
!storage/logs/.gitignore

public/build
public/hot
bootstrap/cache/*.php

.env
.env.*
!.env.example

*.log
.DS_Store

docs
tests
.phpunit.cache
.phpunit.result.cache
